@{
    ViewBag.Title = "Головна";
}

<div class="jumbotron">
    <h1>ТОВ "ПРОДХІМІНДУСТРІЯ"</h1>
</div>

<div class="row">
    <h1>2020 рік</h1>
    <div class="col-md-4">
        <h2>Звіт управління</h2>
        <p>Звіт про управління за 2020 рік   </p>
        <p>ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ПРОДХІМІНДУСТРІЯ"</p>
        <p>@Html.ActionLink("Докладніше", "ZvitUpr2020", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Аудиторський звіт</h2>
        <p>
            Звіт незалежного аудитора щодо річної фінансової звітності ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ПРОДХІМІНДУСТРІЯ"
            станом на 31 грудня 2020
        </p>
        <p>@Html.ActionLink("Докладніше", "ZvitAudit2020", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Фінансова звітність</h2>
        <p>
            Фінансова звітність за Національними положеннями(стандартами) бухгалтерського обліку
            за рік, який закінчився 31 грудня 2020 року. Разом із Звітом незалежного аудиту
        </p>
        <p>@Html.ActionLink("Докладніше", "FinZvit2020", "Home")</p>
    </div>
</div>

<div class="row">
    <h1>2019 рік</h1>
    <div class="col-md-4">
        <h2>Звіт управління</h2>
        <p>Звіт про управління за 2019 рік   </p>
        <p>ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ПРОДХІМІНДУСТРІЯ"</p>
        <p>@Html.ActionLink("Докладніше", "ZvitUpr", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Аудиторський звіт</h2>
        <p>
            Звіт незалежного аудитора щодо річної фінансової звітності ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ПРОДХІМІНДУСТРІЯ"
            станом на 31 грудня 2019
        </p>
        <p>@Html.ActionLink("Докладніше", "ZvitAudit", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Фінансова звітність</h2>
        <p>
            Фінансова звітність за Національними положеннями(стандартами) бухгалтерського обліку
            за рік, який закінчився 31 грудня 2019 року. Разом із Звітом незалежного аудиту
        </p>
        <p>@Html.ActionLink("Докладніше", "FinZvit", "Home")</p>
    </div>
</div>